/*
---------------
CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
---------------
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* I added the 3 below */

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/*
---------------
Font size variables
---------------
*/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1728,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  /* Step -2: 11.1111px → 12.8px */
  --step--2: clamp(0.6944rem, 0.6705rem + 0.1199vw, 0.8rem);
  /* Step -1: 13.3333px → 16px */
  --step--1: clamp(0.8333rem, 0.7955rem + 0.1894vw, 1rem);
  /* Step 0: 16px → 20px */
  --step-0: clamp(1rem, 0.9432rem + 0.2841vw, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --step-1: clamp(1.2rem, 1.1176rem + 0.4119vw, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --step-2: clamp(1.44rem, 1.3234rem + 0.5831vw, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --step-3: clamp(1.728rem, 1.5659rem + 0.8107vw, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --step-4: clamp(2.0736rem, 1.8513rem + 1.1115vw, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --step-5: clamp(2.4883rem, 2.1869rem + 1.5072vw, 3.8147rem);
}

/*
---------------
Space variables
---------------
*/

/* https://utopia.fyi/space/calculator?c=320,16,1.2,1728,20,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
:root {
  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2358rem + 0.071vw, 0.3125rem);
  /* Space 2xs: 8px → 10px */
  --space-2xs: clamp(0.5rem, 0.4716rem + 0.142vw, 0.625rem);
  /* Space xs: 12px → 15px */
  --space-xs: clamp(0.75rem, 0.7074rem + 0.2131vw, 0.9375rem);
  /* Space s: 16px → 20px */
  --space-s: clamp(1rem, 0.9432rem + 0.2841vw, 1.25rem);
  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, 1.4148rem + 0.4261vw, 1.875rem);
  /* Space l: 32px → 40px */
  --space-l: clamp(2rem, 1.8864rem + 0.5682vw, 2.5rem);
  /* Space xl: 48px → 60px */
  --space-xl: clamp(3rem, 2.8295rem + 0.8523vw, 3.75rem);
  /* Space 2xl: 64px → 80px */
  --space-2xl: clamp(4rem, 3.7727rem + 1.1364vw, 5rem);
  /* Space 3xl: 96px → 120px */
  --space-3xl: clamp(6rem, 5.6591rem + 1.7045vw, 7.5rem);
}

/*
---------------
Font
---------------
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--step-0);
}

h4 {
  font-size: var(--step-1);
}

h3 {
  font-size: var(--step-3);
}

h2 {
  font-family: 'Anta', sans-serif;
  font-size: var(--step-4);
}

header h1 {
  font-family: 'Anta', sans-serif;
  font-size: var(--step-2);
}

/*
---------------
Layout
---------------
*/

body {
  min-height: 100vh;
  color: #1a1a1a;
  background-color: #f4f1ec;
}

.weather-icon,
.alert-icon,
.logo {
  width: 50px;
}

header,
.todays-weather,
.hourly-forecast,
.ten-day-forecast {
  max-width: 1200px;
  padding: var(--space-s);
  margin: 0 auto;
}

/* Everything within header below */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: #e6e0d6 solid 2px;
}

.logo-and-name-container,
.form-and-buttons-container {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.current-location-button,
.convert-degrees-button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: #f4f1ec;
  background-color: #e68264;
}

.convert-degrees-button {
  font-weight: 500;
}

.search-location-form {
  height: 40px;

  display: flex;
  align-items: center;

  background-color: #e6e0d6;
  border-radius: 5px;
}

#search-location {
  all: unset;
  padding: 0.5rem;
}

#search-location::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.3);
}

.search-location-button {
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
}

@media screen and (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Everything within Today's Weather below */

.todays-weather {
  margin: var(--space-xl) auto;
  text-align: center;
}

.alerts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  padding: var(--space-s);
  margin-top: var(--space-s);

  background-color: #ffde50;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.todays-weather-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--space-s);
  padding: var(--space-m);
  margin-top: var(--space-m);

  background-color: #84abc1;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  padding: var(--space-s);
}

.todays-icon-and-temp-container {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: var(--space-xs);

  font-size: var(--step-1);
  font-weight: 700;
}

.todays-description {
  max-width: 40ch;
}

.conditions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-m);
}

.condition-card {
  padding: var(--space-xs);

  background-color: #f4f1ec;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.condition-card > :first-child {
  border-bottom: #84abc1 solid 2px;
  margin-bottom: var(--space-2xs);
}

@media screen and (max-width: 800px) {
  .todays-weather-info {
    flex-direction: column;
  }
}

/* Everything within Hourly Forecast below */

.hourly-forecast {
  margin: var(--space-xl) auto;
}

.hourly-forecast h2 {
  text-align: center;
  margin-bottom: var(--space-s);
}

.hourly-forecast-card {
  min-width: max-content;
  padding: var(--space-xs) var(--space-m);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);

  border-right: 2px solid #84abc1;
}

.hourly-forecast-card:last-of-type {
  border-right: none;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* same div as .hourly-forecast-content */
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* Hide scrollbar */
  scrollbar-width: none;
}

.left-arrow-button,
.right-arrow-button {
  font-size: var(--step-5);
  color: #e68264;
  background: transparent;
  border: none;
}

/* Everything within 10 day Forecast below */

.ten-day-forecast {
  margin: var(--space-xl) auto;
}

.ten-day-forecast h2 {
  text-align: center;
  margin-bottom: var(--space-m);
}

.day-container {
  margin: var(--space-s) 0;
  padding: var(--space-xs);

  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  gap: var(--space-xs);
  align-items: center;

  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background-color: #e6e0d6;
}

.day-of-the-week-and-date-container {
  justify-self: start;
  text-align: center;
}

.low-high-temps {
  justify-self: end;
  text-align: center;

  display: flex;
  gap: var(--space-2xs);
}

.low-high-temps > :first-child {
  border-right: 2px solid #84abc1;
  padding-right: var(--space-2xs);
}

@media screen and (max-width: 620px) {
  .day-and-date-container {
    justify-self: center;
  }

  .low-high-temps {
    flex-direction: column;
    width: 100%;
  }

  .low-high-temps > :first-child {
    border-right: none;
    padding-right: 0;

    border-bottom: 2px solid #84abc1;
    padding-bottom: var(--space-2xs);
  }
}

/* Footer */

footer {
  padding: var(--space-s);
  text-align: center;
  background-color: #84abc1;
}

footer a {
  color: #f4f1ec;
}
